name: macos_file_manager
description: "A new Flutter project."
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.7.0

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  flutter_riverpod: ^2.6.1
  hooks_riverpod: ^2.6.1
  flutter_hooks: ^0.21.2
  path: ^1.9.1
  archive: ^3.4.0
  uuid: ^4.5.1
  intl: ^0.20.2
  shared_preferences: ^2.5.3
  path_provider: ^2.1.5
  super_drag_and_drop: ^0.8.24
  image: ^4.3.0
  crop: ^0.5.5
  gap: ^3.0.1
  extended_image: ^10.0.0
  riverpod_annotation: ^2.6.1
  flutter_dotenv: ^5.2.1
  googleapis_auth: ^2.0.0
  freezed_annotation: ^3.1.0  
  json_annotation: ^4.9.0
  google_generative_ai: ^0.4.7
  webview_flutter: ^4.4.4
  webview_flutter_wkwebview: ^3.9.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  riverpod_generator: ^2.6.4
  build_runner: ^2.5.4
  freezed: ^3.1.0
  json_serializable: ^6.8.0

flutter:
  uses-material-design: true

  assets:
    - assets/env/
    - assets/keys/
  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
